extends ../layouts/application.pug

block content
  a.nav-link(href='/statuses/new')= t('views.statuses.create')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a(href=route('statusEdit', {id: status.id}))= t('views.statuses.edit')
            +buttonTo(route('statusDelete', {id: status.id}), 'delete')(class="btn btn-link" value=t('views.statuses.delete'))
