extends ../layouts/application.pug

block header
  = t('views.tasks.createTitle')

block content
  .card
  .card-header.bg-secondary.text-white
    h2= task.name
  .card-body.bg-light
    p= task.description
    hr
    .container
      .row.p-1
        .col Автор
        .col= `${task.creator.firstname} ${task.creator.lastname}`
      .row.p-1
        .col Исполнитель
        .col= `${task.executor.firstname} ${task.executor.lastname}`
      .row.p-1
        .col Статус
        .col= task.status.name
      .row.p-1
        .col Дата создания
        .col= formatDate(task.createdAt)
      .row.p-1
        .col
          h6 Метки:
          ul
            li
      .row.p-1
        .col
          a(href=route('taskEdit', {id: task.id}))= t('views.tasks.edit')
          form(action=route('taskDelete', {id: task.id}) method='post')
            input(name='_method' type='hidden' value='delete')
            input.btn.btn-link(type='submit' value='Удалить')

