extends ../layouts/application.pug

block header
  = t('views.tasks.editTitle')

block content
  +formFor()(action=route('taskUpdate', {id: task.id}) method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    .form-group
      label(for='data_statusId')= t('views.tasks.status')
      select#data_statusId.form-control(name='data[statusId]')
        option
        each status in statuses
          option(value=status.id, selected= status.id == task.statusId)= status.name
    .form-group
      label(for='data_executorId')= t('views.tasks.executor')
      select#data_executorId.form-control(name='data[executorId]')
        each user in users
          option(value=user.id, selected= user.id == task.executorId)= `${user.firstname} ${user.lastname}`
    input(name='_method' type='hidden' value='patch')
    +submit(task)(value=t('views.tasks.edit'))
