extends ../layouts/application.pug

block content
  a.nav-link(href='/tasks/new') Создать задачу
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
          td= task.statusName
          td= `${task.creatorFirstName} ${task.creatorLastName}`
          td= `${task.executorFirstName} ${task.executorLastname}`
          td= formatDate(task.createdAt)
          td
            a(href=route('statusEdit', {id: task.id}))= t('views.statuses.edit')
            form(action=route('statusDelete', {id: task.id}) method='post')
              input(name='_method' type='hidden' value='delete')
              input.btn.btn-link(type='submit' value='Удалить')
