extends ../layouts/application.pug

block content
  a.nav-link(href='/tasks/new')= t('views.tasks.create')
  .jumbotron.p-2
    form.form-inline(action='/tasks' method='get')
      .form-group
        label(for='data_status')= t('views.tasks.status')
        select#data_status.form-control.ml-2.mr-3(name='status')
          option
          each status in statuses
            option(value=status.id, selected= status.id == request.status)= status.name
      .form-group
        label(for='data_executor')= t('views.tasks.executor')
        select#data_executor.form-control.ml-2.mr-3(name='executor')
          option
          each user in users
            option(value=user.id, selected= user.id == request.executor)= `${user.firstname} ${user.lastname}`
      .form-group
        label(for='data_label')= t('views.tasks.labels')
        select#data_label.form-control.ml-2.mr-3(name='label')
          option
          each label in labels
            option(value=label.id, selected= label.id == request.label)= label.name
      .form-group.form-check
        input#data_isCreatorUser.form-check-input(type='checkbox', name='isCreatorUser', checked=(!!request.isCreatorUser))
        label.form-check-label(for='data_isCreatorUser')= t('views.tasks.isCreatorUser')
      .form-group
        input.btn.btn-primary.ml-3(type='submit' value=t('views.tasks.filter'))
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('taskDetails', {id: task.id}))= task.name
          td= task.status.name
          td= `${task.creator.firstname} ${task.creator.lastname}`
          if task.executor
            td= `${task.executor.firstname} ${task.executor.lastname}`
          else
            td
          td= formatDate(task.createdAt)
          td
            a(href=route('taskEdit', {id: task.id}))= t('views.tasks.edit')
            form(action=route('taskDelete', {id: task.id}) method='post')
              input(name='_method' type='hidden' value='delete')
              input.btn.btn-link(type='submit' value=t('views.tasks.delete'))
